<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Linqbio | Customizar Page</title>
    <link rel="shortcut icon" href="/imgs/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/customPage.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=keyboard_arrow_downandcheckandmenuandcloseandpersonandarrow_drop_downanddeleteandlogoutandaddandeditshareandcontent_copy"
    />
    <script src="https://cdn.jsdelivr.net/npm/qrcode/build/qrcode.min.js"></script>
  </head>
  <body id="<%=userCustom.theme.body_theme%>">
    <header>
      <div class="navbar">
        <h1><a href="/h/home" class="no-select">LBIO</a></h1>
        <nav>
          <ul id="menu">
            <li><a href="/user/dashboard" id="dashboard">Dashboard</a></li>
            <li>
              <a href="/user/custom-page" id="custom-page">Personalizar</a>
            </li>
            <li>
              <a href="/<%=userCustom.user_name_link%>" target="_blank"
                >Visualizar Page</a
              >
            </li>
            <li><a href="/user/help" id="help">Ajuda</a></li>
            <!-- <li><a href="/user/configs" id="configs">Configurações</a></li> -->
          </ul>
          <div>
            <a class="user-icon">
              <img src="<%= login.user_picture %>" alt="gato desenhado" />
              <!-- <img src="./imgs/cat.png" alt="" /> -->
              <span class="material-symbols-outlined">arrow_drop_down</span></a
            >
            <div class="logged-user">
              <div class="profile">
                <img src="<%= login.user_picture %>" alt="gato desenho" />
                <!-- <img src="./imgs/cat.png" alt="" /> -->
                <div class="profile-info">
                  <p><%= login.user_name %></p>
                  <p><%= login.user_email %></p>
                  <!-- <p>name user</p>
                  <p>exemple@gmail.com</p> -->
                </div>
              </div>
              <div class="sign-out">
                <a href="/logout"
                  ><span class="material-symbols-outlined">logout</span>
                  Encerrar Sessão</a
                >
              </div>
              <div class="actions">
                <span class="material-symbols-outlined">delete</span>
                Deletar Conta
              </div>
            </div>
          </div>
          <div id="menu-resp">
            <span class="material-symbols-outlined no-select" id="icon"
              >menu</span
            >
          </div>
        </nav>
      </div>
      <div id="items-menu-resp">
        <ul>
          <li><a href="/user/dashboard" id="dashboard">Dashboard</a></li>
          <li><a href="/user/custom-page" id="custom-page">Personalizar</a></li>
          <li>
            <a href="/<%=userCustom.user_name_link%>" target="_blank"
              >Visualizar Page</a
            >
          </li>
          <li><a href="/user/help" id="help">Help</a></li>
          <!-- <li><a href="/user/configs" id="configs">Configurações</a></li> -->
        </ul>
      </div>
    </header>
    <div id="background-menu-resp"></div>
    <div id="delete-account">
      <div class="conteiner-delete">
        <h2>Aaaaah nããooooo</h2>
        <img src="/imgs/bored.png" alt="gato triste" />

        <% if(login.buy_status === 'Success'){ %> <% if(
        login.reimbursement_status === 'Authorized' ){ %>
        <p>
          Poxa, tem certeza que deseja <br />
          deletar sua conta ? <br />
          <span class="warning"
            >você será reembolsado em até 10 dias utéis.</span
          >
          <br />
        </p>
        <% } else {%>
        <p>
          Poxa, tem certeza que deseja <br />
          deletar sua conta ? <br />
          <span class="warning"
            >você não terá direito ao reembolso, <br />
            pois a compra foi efetuada a mais de 7 dias.</span
          >
          <br />
        </p>
        <% } %> <% } else { %>
        <p>
          Poxa, você tem certeza que deseja <br />
          deletar usa conta ?
        </p>
        <% } %>

        <form
          action="/user/delete-account"
          class="actions-buttons"
          method="post"
        >
          <input
            type="hidden"
            id="user_id"
            name="user_id"
            value="<%= login.user_id %>"
          />
          <input
            type="hidden"
            id="reimbursement_status"
            name="reimbursement_status"
            value="<%= login.reimbursement_status %>"
          />
          <button id="confirm-delete" type="submit">Sim</button>

          <button id="cancel-delete" type="button">Não</button>
        </form>
      </div>
    </div>

    <section class="section-view">
      <div class="view-profile">
        <div class="profile-photo no-select">
          <img src="<%= login.user_picture %>" alt="gato desenho" />
          <span class="material-symbols-outlined">add</span>
        </div>
        <div id="edits">
          <div id="edit-profile">
            <!-- <span class="material-symbols-outlined">edit</span> -->
            Editar Perfil
          </div>
          <div id="edit-background">Editar Fundo</div>
          <div id="share">
            <span class="material-symbols-outlined">share</span>
          </div>
        </div>

        <div class="view-info">
          <!--JS aqui-->
          <p class="user-name" id="<%= userCustom.theme.theme_user_name %>">
            <%= userCustom.profile.user_name %>
          </p>
          <p class="user-slogan" id="<%=userCustom.theme.theme_user_slogan %>">
            <%= userCustom.profile.user_description %>
          </p>
        </div>
      </div>
      <!-- links user -->
      <div class="view-links">
        <% userCustom.links_user.forEach(element => { %>
        <div>
          <div id="edit-or-delete">
            <span class="material-symbols-outlined">edit</span>
            <span class="material-symbols-outlined">delete</span>
          </div>
          <a
            href="<%= element.link %>"
            id="origin-a"
            origin="<%= element.origin %>"
          >
            <span id="id-link" style="display: none"
              ><%= element.id_link %></span
            >
            <span class="icon">
              <img
                src="<%= element.icon_picture %>"
                alt="<%= element.origin %>"
            /></span>
            <span class="info">
              <span class="title"><%= element.title %> </span>
              <span class="descri"><%= element.description %></span>
            </span>
          </a>
        </div>
        <% }) %>
        <!-- edit -->
        <a id="add-link">
          <span class="info">
            <span class="title"
              ><span class="material-symbols-outlined">add</span> Adicionar
              link</span
            >
            <span class="descri">Clique aqui para adicionar um link</span>
          </span>
        </a>
      </div>
    </section>

    <!-- formularios -->
    <div id="form-background"></div>

    <% if(userCustom.log !== ''){ %>
    <div id="conteiner-log">
      <p id="msgm-log"><%= userCustom.log %></p>
    </div>
    <%} %>

    <!-- form perfil -->
    <section class="section-form" id="section-update-photo">
      <div class="forms">
        <div id="close-form" class="no-select">
          <span class="material-symbols-outlined">close</span>
        </div>
        <h1>Editar Foto de Perfil</h1>
        <form
          action="/user/upload-photo"
          enctype="multipart/form-data"
          method="post"
        >
          <div class="form-group">
            <div class="update-picture">
              <input
                type="file"
                id="user_picture"
                name="user_picture"
                accept="image/*"
                style="display: none"
              />

              <label for="user_picture"
                ><img
                  src="<%= login.user_picture %>"
                  alt="gato desenho"
                  id="preview-image"
                />
                <span class="material-symbols-outlined">add</span></label
              >
            </div>
          </div>
          <div class="form-group">
            <p>
              AVISO: Por favor, escolha uma <br />
              foto quadrada (1:1)
            </p>
          </div>
          <div class="form-group form-buttom">
            <div class="form-sub-buttom">
              <button type="submit" id="salve">Salvar</button>
              <button type="button" id="cancel">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </section>

    <!--form profile -->
    <section class="section-form" id="section-update-profile">
      <div class="forms">
        <div id="close-form" class="no-select">
          <span class="material-symbols-outlined">close</span>
        </div>
        <h1>Editar Perfil</h1>
        <form id="update-profile" action="/user/update-profile" method="post">
          <div class="form-group">
            <label for="user_name">Nome de usuário:</label>
            <input
              type="text"
              id="user_name"
              name="user_name"
              value="Linqbio"
              minlength="3"
              maxlength="20"
            />
          </div>
          <div class="form-group">
            <label for="user_description">Sua descrição:</label>
            <input
              type="text"
              id="user_description"
              name="user_description"
              value="Sua Descrição aqui"
              maxlength="60"
            />
          </div>
          <div class="form-group form-buttom">
            <div class="form-sub-buttom">
              <button type="submit" id="salve">Salvar</button>
              <button type="button" id="cancel">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </section>

    <!-- form background -->
    <section class="section-form" id="section-edit-background">
      <div class="forms">
        <div id="close-form" class="no-select">
          <span class="material-symbols-outlined">close</span>
        </div>
        <h1>Editar Fundo/Tema</h1>
        <form action="/user/update-background" method="post">
          <div class="ajust-form">
            <div class="form-group form-group-theme">
              <div class="form-sub-group">
                <input
                  type="radio"
                  id="theme-1"
                  name="theme"
                  value="theme-1"
                  checked
                />
                <label for="theme-1" id="theme-1-label">Tema 1</label>

                <input type="radio" id="theme-2" name="theme" value="theme-2" />
                <label for="theme-2" id="theme-2-label">Tema 2</label>

                <input type="radio" id="theme-3" name="theme" value="theme-3" />
                <label for="theme-3" id="theme-3-label">Tema 3</label>
              </div>

              <div class="form-sub-group">
                <input type="radio" id="theme-4" name="theme" value="theme-4" />
                <label for="theme-4" id="theme-4-label">Tema 4</label>

                <input type="radio" id="theme-5" name="theme" value="theme-5" />
                <label for="theme-5" id="theme-5-label">Tema 5</label>

                <input type="radio" id="theme-6" name="theme" value="theme-6" />
                <label for="theme-6" id="theme-6-label">Tema 6</label>
              </div>

              <div class="form-sub-group"></div>

              <div class="form-sub-group">
                <input type="radio" id="theme-7" name="theme" value="theme-7" />
                <label for="theme-7" id="theme-7-label">Tema 7</label>

                <input type="radio" id="theme-8" name="theme" value="theme-8" />
                <label for="theme-8" id="theme-8-label">Tema 8</label>

                <input type="radio" id="theme-9" name="theme" value="theme-9" />
                <label for="theme-9" id="theme-9-label">Tema 9</label>
              </div>
              <!-- <div class="form-sub-group">
                <input
                  type="radio"
                  id="theme-10"
                  name="opcao"
                  value="theme-10"
                />
                <label for="theme-10" id="theme-10-label">Tema 10</label>
              </div> -->
            </div>
          </div>
          <div class="form-group form-buttom">
            <div class="form-sub-buttom">
              <button type="submit" id="salve">Salvar</button>
              <button type="button" id="cancel">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </section>

    <!-- share -->
    <section class="section-form" id="section-share">
      <div class="forms">
        <div id="close-form" class="no-select">
          <span class="material-symbols-outlined">close</span>
        </div>
        <h1>linqbio.me/<%=userCustom.user_name_link%></h1>
        <div class="qrcode">
          <canvas id="qrcode"></canvas>

          <div class="share-link">
            <a id="user-link" href="/<%=userCustom.user_name_link%>"
              >https://www.linqbio.me/<%=userCustom.user_name_link%></a
            >
            <!-- <span class="material-symbols-outlined" id="content-share"
              >share</span
            > -->
            <span class="material-symbols-outlined" id="copy"
              >content_copy</span
            >
          </div>
        </div>
      </div>
    </section>

    <!-- form liks -->

    <section class="section-form" id="section-add-link">
      <!-- manipular com js -->
      <div class="forms">
        <div id="close-form">
          <span class="material-symbols-outlined">close</span>
        </div>
        <h1>Add ou Editar Link</h1>
        <form
          id="add-link"
          action="/user/update-link"
          method="post"
          enctype="multipart/form-data"
        >
          <input type="hidden" id="id_link" name="id_link" value="" />
          <!-- primerio formulário -->
          <div id="form-one">
            <div class="form-group">
              <label for="link">Seu link:</label>
              <input
                type="text"
                id="link"
                name="link"
                placeholder="Ex: https://titkok.com/@linqbio"
                required
              />
            </div>
            <!-- <div class="form-group" style="display: none">
              <label for="select_origin">Origem do seu link:</label>
              <div class="form-sub-group">
                <select name="select_origin" id="select_origin">
                  <option value="tiktok">tiktok</option>
                  <option value="facebook">facebook</option>
                  <option value="instagram">instagram</option>
                  <option value="telegram">telegram</option>
                  <option value="behance">behance</option>
                  <option value="behance">linqbio</option>
                  <option value="outro">outro</option>
                </select>
                <input
                  type="text"
                  id="other"
                  name="other"
                  placeholder="Escolha 'outro' para habilitar"
                  disabled
                />
              </div>
            </div> -->

            <div class="form-group">
              <label for="title">Título:</label>
              <input
                type="text"
                name="title"
                id="title"
                placeholder="Ex: Meu Tiktok"
                minlength="3"
                maxlength="15"
                required
              />
            </div>

            <div class="form-group">
              <label for="description">Descrição:</label>
              <input
                type="text"
                name="description"
                id="description"
                placeholder="Ex: Me segue para aí"
                maxlength="25"
                required
              />
            </div>
          </div>
          <!-- formulário dois -->
          <div id="form-two" style="display: none">
            <div class="form-group">
              <label for="select_origin">Origem do seu link:</label>
              <div class="form-sub-group">
                <select name="select_origin" id="select_origin">
                  <option value="tiktok">tiktok</option>
                  <option value="x">x-twitter</option>
                  <option value="facebook">facebook</option>
                  <option value="instagram">instagram</option>
                  <option value="whatsapp">whatsapp</option>
                  <option value="telegram">telegram</option>
                  <option value="onlyfans">onlyfans</option>
                  <option value="behance">behance</option>
                  <option value="discord">discord</option>
                  <option value="twitch">twitch</option>
                  <option value="threads">threads</option>
                  <option value="linqbio">linqbio</option>
                  <option value="pinterest">pinterest</option>
                  <option value="linkedin">linkedin</option>
                  <option value="github">github</option>
                  <option value="youtube">youtube</option>
                  <option value="youtube-music">yt-music</option>
                  <option value="spotify">spotify</option>
                  <option value="outro">outro</option>
                </select>
                <input
                  type="text"
                  id="other"
                  name="other"
                  placeholder="Escolha 'outro' para habilitar"
                  disabled
                />
              </div>
            </div>
            <div class="form-group">
              <label for="icon_picture"> Personalizar ícone do link? </label>
              <div class="question-icon">
                <div class="form-sub-group">
                  <input
                    type="radio"
                    id="icon-question-yes"
                    name="icon_question"
                    value="yes-custom"
                  />
                  <label for="icon-question-yes">Sim, personalizar</label>
                </div>
                <div class="form-sub-group">
                  <input
                    type="radio"
                    id="icon-question-no"
                    name="icon_question"
                    value="no-custom"
                    checked
                  />
                  <label for="icon-question-no">Não personalizar</label>
                </div>
              </div>
              <div class="form-sub-group icon-img">
                <input
                  type="file"
                  id="icon_picture"
                  name="icon_picture"
                  accept="image/*"
                  disabled
                  style="display: none"
                />
                <label for="icon_picture">
                  <img
                    src="/imgs/icones/tiktok.svg"
                    alt="ícone da rede social"
                    id="preview-icon"
                  />
                  <span class="material-symbols-outlined">add</span>
                </label>
              </div>
            </div>
          </div>

          <div class="form-group form-buttom">
            <input type="hidden" id="action_link" name="action_link" value="" />
            <div class="form-sub-buttom">
              <button type="button" id="follow">Seguinte</button>
              <button
                type="submit"
                id="salve"
                style="display: none"
                onclick="setAction('save')"
              >
                Salvar
              </button>
              <button type="button" id="cancel">Cancelar</button>
            </div>
            <button type="submit" id="delete" onclick="setAction('delete')">
              Deletar
            </button>
          </div>
        </form>
      </div>
    </section>

    <footer>
      <p>Desenvolvido por Mauricio Brito dos Santos</p>
      <p>
        &copy; 2024 Linqbio. Todos os direitos reservados.
        <a href="/h/terms-and-privacy" style="border-bottom: 0.1rem solid black"
          >Termos de uso e Política de privacidade</a
        >
      </p>
    </footer>

    <div id="loading">
      <svg viewBox="25 25 50 50">
        <circle r="20" cy="50" cx="50"></circle>
      </svg>
    </div>

    <script src="/js/menu.js"></script>
    <script src="/js/profile.js"></script>
    <script src="/js/customPage.js"></script>
  </body>
</html>
